@model RepositoryDesignPattern.EntityLayer.Concrete.Category
<div class=" container">
<form method="post">

    <label>Category Name</label>
    <input type="text" asp-for="CategoryName" class=" form-control" />
    <br />
    <button class="btn btn-secondary">Save</button>
</form>
</div>