@model RepositoryDesignPattern.EntityLayer.Concrete.Category
<div class=" container">
    <form method="post">
        <input type="hidden" asp-for="CategoryID" />
        <label>Category Name</label>
        <input type="text" asp-for="CategoryName" class=" form-control" />
        <br />
        <button class="btn btn-secondary">Save</button>
    </form>
</div>